%li.control-group.nested-fields
  .controls
    = f.label :amount, "Amount:"
    = f.text_field :amount
    = f.label :ingredient_id
    = f.select :ingredient_id, options_from_collection_for_select(Ingredient.all, "id", "name", f.object.ingredient_id ), prompt: 'Choose an existing ingredient'
    = link_to_remove_association "remove", f
